body {
  background-color: #222629;
  color: #86c232;
}
h1 {
  color: #61892f;
}
.card {
  margin: 10px;
  padding: 20px;
  padding-bottom: 0%;
  background-color: #474b4f;
}
.com {
  background-color: #6b6e70;
  color: white;
  text-align: left;
}

.pimg1 {
  background-image: url(../photos/5E337392-FED2-08F2-857BD1B9C297E8D8.jpg);
  object-fit: cover;
  height: 350px;
  width: 90%;
  background-repeat: repeat;
  margin-left: auto;
  margin-right: auto;
}
