body{
    background-color: #393E41;
    color: #E94F37;
}
h1{
    color: #FFF275;
}
.card{
    margin: 10px;
    padding: 20px;
    background-color: #CCC5B9;
}
.com{
    background-color: #FFF275;
    color: #E94F37;
    text-align: left;
}
.divide{
    border-bottom: #3FA7D6 solid 3px;
}