{% include 'base.html' %}
<!-- Styles block -->

{% block styles%}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!--Content block-->
{% block content%}
<div class="container">
    <h1>Welcome Home</h1>
</div>

<div class="container home">
    <div class="row">

        {% for blog in blogs%}
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-uppercase">
                    <h5>{{blog.title}}</h5> {{blog.blogyou.username}}
                </div>
                <div class="card-body">
                    <p>{{blog.blog}}</p>


                    <p>{{blog.date_posted.strftime('%Y-%m-%d')}}</p>
                    <div>
                        {%  if current_user == blog.blogyou %}
                        <a class="btn btn-danger" href="{{url_for('main.del_blog',blog_id=blog.id)}}">X</a>
                        {% endif %}
                    </div>
                    <div class="card">
                        <h4 class="mt-3">Comments</h4>
                        {% for comm in comment %}
                        {% if blog.id == comm.blog_id %}
                        <p>{{comm.comment}}</p>
                        <p>{{comm.date_posted.strftime('%y-%m-%d')}}</p>

                        {%  if current_user == blog.blogyou %}
                        <a class="text-danger" href="{{url_for('main.delete',comment_id=comm.id)}}">DeleteComment</a>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <form class="mt-3" action="{{url_for('main.comment',blog_id=blog.id)}}" method="post">
                            <input type="text" name="comment" class="w-100">
                            <input type="submit" value="Comment" class="btn btn-danger mt-1">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        <div class="col-md-6">
            <form class="mt-5 ml-3" action="/subscribe" method='POST'>
                <h4>Subscribe</h4>
                <input type="text" name="email" value="Enter email">
                <br>
                <input class="btn btn-danger mt-1" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{%  endblock %}